@model IEnumerable<WorkOrdersApp.Models.WorkOrder>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="card">
        <div class="card-header">
            <h3>Work Orders List</h3>
        </div>
        <div class="card-body">
            <div class="row w-100 d-flex justify-content-end p-4">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addWorkOrderModal" id="addWorkOrderBtn">
                    Add Work Order
                </button>
            </div>
        </div>
    </div>

    <div class="table-align-content-between p-2">
        <table class="table datatable">
            <thead>
                <tr>
                    <th>
                        Work Num
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        DateReceived
                    </th>
                    <th>
                        DateAssigned
                    </th>
                    <th>
                        DateComplete
                    </th>

                    <th>
                        Technician Comments
                    </th>
                    <th>
                        Contact Name
                    </th>

                    <th>
                        Contact Number
                    </th>
                    <th>
                        Technician
                    </th>
                    <th>
                        Problem
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>


    </div>

</div>

<div class="modal fade" id="addWorkOrderModal" tabindex="-1" role="dialog" aria-labelledby="addWorkOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addWorkOrderModalLabel">Add Work Order</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="inputContactName">Contact Name</label>
                        <input type="text" class="form-control" id="inputContactName" placeholder="Enter contact name">
                    </div>
                    <div class="form-group">
                        <label for="inputContactNumber">Contact Number</label>
                        <input type="text" class="form-control" id="inputContactNumber" placeholder="Enter contact number">
                    </div>
                    <div class="form-group">
                        <label for="inputProblem">Problem</label>
                        <textarea class="form-control" id="inputProblem" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="inputTechnician">Technician</label>
                        <select class="form-control" id="inputTechnician">
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveWorkOrderBtn">Create Work Order</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            //Create datatable

            let table = $('.datatable').DataTable({
                "ajax": {
                    "url": "@ENV.DATA_API_HOST/WorkOrders",
                     "dataSrc": function (json) {
                        return json;
                    }
                },
                "columns": [
                    { "data": "Wonum" },
                    { "data": "Email" },
                    { "data": "Status" },
                    { "data": "DateReceived",
                    "render": function (data, type, row) {
                        var date = new Date(data);
                        return date.toLocaleDateString();
                    }
                    },
                    { "data": "DateAssigned" 
                    },
                    { "data": "DateComplete"
                    },
                     { "data": "TechnicianComments" },
                    { "data": "ContactName" },
                    { "data": "ContactNumber" },
                    { "data": "Technician.TechnicianName" },
                    { "data": "Problem" }
                ],
                initComplete: function () {
                    this.api().columns([2]).every(function () {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.header()))
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );

                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });

                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    });
                }
            });
        
            //Load technicians
            $.ajax({
                url: '@ENV.DATA_API_HOST/Technicians',
                type: 'GET',
                success: function (data) {
                    data.forEach(function (technician) {
                        $('#inputTechnician').append(`<option value="${technician.technicianId}">${technician.technicianName}</option>`);
                    });
                }
            });

            // Show modal when Add Work Order button is clicked
            $('#addWorkOrderBtn').click(function () {
                $('#addWorkOrderModal').modal('show');
            });

            //Create new Order
            $("#saveWorkOrderBtn").click(function () {
                var email = $("#inputEmail").val();
                var contactName = $("#inputContactName").val();
                var contactNumber = $("#inputContactNumber").val();
                var problem = $("#inputProblem").val();
                var technicianId = $("#inputTechnician").val();

                var newWorkOrder = {
                    Email: email,
                    ContactName: contactName,
                    ContactNumber: contactNumber,
                    Problem: problem,
                    TechnicianID: technicianId
                };

                $.ajax({
                    type: "POST",
                    url: "@ENV.DATA_API_HOST/WorkOrders",
                    data: JSON.stringify(newWorkOrder),
                    contentType: "application/json",
                    success: function (result) {
                        // code to handle success
                        alert("Success")
                        $("#inputEmail").val("");
                        $("#inputContactName").val("");
                        $("#inputContactNumber").val("");
                        $("#inputProblem").val("");
                        $("#inputTechnician").val("");
                        $("#addWorkOrderModal").modal('hide')   ;
                        table.ajax.reload();

                    },
                    error: function (xhr, status, error) {
                        // code to handle error
                        alert("error")
                    }
                });
            });
        });
    </script>
}